{
  "overrides": [
    {
      "files": "*.css",
      "options": {
      }
    },
    {
      "files": "*.js",
      "options": {
      }
    },
    {
      "files": "*.html",
      "options": {
        "useTabs": true,
        "tabWidth": 4
      }
    }
  ]
}
