/* basic colors */
:root {
  --theme-color-light-body-bg: #fff;
  --theme-color-light-body-color: #000;
  --theme-color-dark-body-bg: #000;
  --theme-color-dark-body-color: #fff;
  --theme-color-dark-1: #224444;
  --theme-color-dark-2: #223333;
  --theme-color-dark-3: #21a1e1;
  --theme-color-light-1: #f6f0ff;
  --theme-color-light-2: #e8d9ff;
  --theme-color-light-3: #83cef3;
}

/* light/dark colors */
:root {
  --theme-color-body-bg: var(--theme-color-light-body-bg);
  --theme-color-body-color: var(--theme-color-light-body-color);
  --theme-color-1: var(--theme-color-light-1);
  --theme-color-2: var(--theme-color-light-2);
  --theme-color-3: var(--theme-color-light-3);
}
@media (prefers-color-scheme: dark) {
  :root {
    --theme-color-body-bg: var(--theme-color-dark-body-bg);
    --theme-color-body-color: var(--theme-color-dark-body-color);
    --theme-color-1: var(--theme-color-dark-1);
    --theme-color-2: var(--theme-color-dark-2);
    --theme-color-3: var(--theme-color-dark-3);
  }
}

body {
  --bs-body-bg: var(--theme-color-body-bg);
  --bs-body-color: var(--theme-color-body-color);
  font-family: "Lato", sans-serif;
}

.bg-theme-1 {
  background-color: var(--theme-color-1);
}

.bg-theme-2 {
  background-color: var(--theme-color-2);
}

/* Awesome Form Labels inspired from: http://codepen.io/devtips/pen/bNBNBw */

input,
button,
#emoji-list li {
  background: none;
  border: solid 2px var(--theme-color-3);
  display: inline-block;
  font-size: 18px;
  padding: 15px 40px;
}

button {
  color: var(--theme-color-3);
  min-width: 230px;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

input[type="text"],
input[type="email"] {
  border: none;
  border-bottom: solid 2px var(--theme-color-3);
}

button:active {
  background: var(--theme-color-3);
  color: #eee;
}

.input-wrapper {
  padding-top: 30px;
}

.input-group {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  width: 100%;
}

.input-group input {
  color: #eee;
  padding: 15px 10px;
  width: 100%;
}

.input-group label {
  font-size: 18px;
  font-style: italic;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.15s ease-out 0s;
}

.input-group input:focus + label,
.input-group input.has-value + label {
  font-size: 12px;
  top: -10px;
}

.hidden {
  display: none;
}

.loginz-collapse {
  max-height: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

/* our emoji list */

#emoji-list {
  background-color: #fff;
  border-radius: 4px;
  color: #111;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 80%;
}

#emoji-list li {
  display: inline-block;
  height: 5em;
  overflow: hidden;
  padding: 15px 0;
  position: relative;
  width: 8em;
}

#emoji-list li.disabled {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#emoji-list .emoji-name {
  background-color: #f7f7f9;
  border-radius: 3px;
  border: 1px solid #e1e1e8;
  color: #c25;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  line-height: 12px;
  padding: 1px 3px;
}

#emoji-list .transferred {
  left: 35%;
  position: absolute;
  text-align: center;
  top: 35%;
  transform: rotateZ(340deg);
}

.emoji {
  height: 2em;
  width: 2em;
}

#emoji-background {
  cursor: default;
  height: 100vh;
  left: 0;
  opacity: 0.3;
  overflow: hidden;
  position: absolute;
  top: 0;
  user-select: none;
  width: 100vw;
  z-index: -1;
}

#emoji-background .floater {
  font-size: 120px;
  left: -120px;
  position: absolute;
}

.pulsate {
  animation: pulsate 0.3s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes pulsate {
  to {
    transform: scale(1.05);
  }
}
